body {
    background-color: red;
}
.app-title {
    margin-left: 30px;
    margin-top: 15px;
}

.node-title {
    text-align: center;
    margin: 10px;
}

.node-card {
    margin: 15px;
    padding: 15px;
    background-color: beige;
    border-radius: 15px;
}

.container {
    margin: 0px !important;
    padding: 0px !important;
}